{% extends 'base.html' %}

{% block title %}虛擬貨幣首頁{% endblock %}

{% block content %}
{% load humanize %}
<div class="container mt-4">
    <h1 class="text-center mb-4">虛擬貨幣價格列表</h1>
    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="text" name="query" value="{{ query }}" class="form-control" placeholder="搜尋幣種" />
            <button type="submit" class="btn btn-primary">搜尋</button>
        </div>
    </form>

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% else %}
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th style="width: 25%; text-align: center;">幣種名稱</th>
                    <th style="width: 15%; text-align: center;">USD</th>
                    <th style="width: 15%; text-align: center;">TWD</th>
                    <th style="width: 15%; text-align: center;">EUR</th>
                    <th style="width: 30%; text-align: center;">時間戳</th>
                </tr>
            </thead>
            <tbody>
                {% for price in page_obj.object_list %}
                    <tr>
                        <td><a href="{% url 'crypto_detail' price.pk %}"><img src="{{ price.coin.logo_url }}">{{ price.coin.coinname }}</a></td>
                        
                        {% if price.usd > 1 %}
                        <td>{{ price.usd|floatformat:2|intcomma }}</td>
                        {% else %}
                        <td>{{ price.usd|floatformat:7|intcomma }}</td>
                        {% endif %}

                        {% if price.usd > 1 %}
                        <td>{{ price.twd|floatformat:2|intcomma }}</td>
                        {% else %}
                        <td>{{ price.twd|floatformat:7|intcomma }}</td>
                        {% endif %}

                        {% if price.usd > 1 %}
                        <td>{{ price.eur|floatformat:2|intcomma }}</td>
                        {% else %}
                        <td>{{ price.eur|floatformat:7|intcomma }}</td>
                        {% endif %}

                        <td>{{ price.timestamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- 分頁導航 -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">&laquo;&laquo;</span>  <!-- 第一頁 -->
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>  <!-- 上一頁 -->
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>  <!-- 第一頁 -->
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&laquo;</span>  <!-- 上一頁 -->
                    </li>
                {% endif %}
        
                <!-- 顯示頁數 -->
                {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
        
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>  <!-- 下一頁 -->
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">&raquo;&raquo;</span>  <!-- 最後一頁 -->
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;</span>  <!-- 下一頁 (禁用) -->
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>  <!-- 最後一頁 (禁用) -->
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
</div>
{% endblock %}
